.background {
  /* The image used */
  background-image: url(src\components\model\pics\bass.webp);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* .background {
  /* The image used 
  background-image: url(src\components\model\pics\bass.webp);

  /* Full height 
  height: 100%;

  /* Center and scale the image nicely 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
*/
